= content_for :header do
  %h1 Welcome to #{active_league.name}!
- if false
  %h2 Most wins (player): #{@most_wins_player.name.titleize}
  %h2 Most wins (character): #{@most_wins_character.name.titleize}
- else
  %h2 Coming soon...