/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
* {
  padding: 0px;
  margin: 0px;
  
}

body {
  background-image: url(http://subtlepatterns.com/patterns/furley_bg.png);
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 200;
}

h1,h2,h3 {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  font-weight: bold;
}

a {
 text-decoration: none;
 color: #139;
}
a:visited {
  color: #913;
}
a:hover {
 color: #68F;
}
.guide {
  display: none;
  position: fixed;
  top: 0px;
}
.guide td {
  background-color: #eee;
}

.portrait {
  width: 192px;
}
.droppable {
  border: 3px dashed gray;
}

.content{
  width: 960px;
  margin: auto;
}
.column{
  width: 480px;
  float: left;
}
.centered {
  text-align: center;
}


.flash.error {
  background-color: #EBB;
}
.flash.success {
  background-color: #BEB;
}

ul {
  list-style: none;
}

.nav {
  text-align: center;
}
.header{
  background-color: #FAFAFA;
  border-bottom: 1px solid #CCC;
  padding: 5px;
}
.characters {
}

h2{
  text-align: center;
}

.card {
  width:50%;
}
.box {
  border-radius: 3px;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  background-color: #EEE;
}

.thumbnail {
  width: 43px;
}
table{
  border-spacing: 0px;
}
.clear {
  clear: both;
}
table.stats{
  width: 100%;
}
table.stats th.title {
  text-align: left;
}
table.characters td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  
  margin: 0px;
  text-align: center;
  cursor: pointer;
}

table.characters td.top-row {
  border-top: 1px solid black;
}
table.characters td.left-col {
  border-left: 1px solid black;
}
label {
  clear: left;
  float: left;
  text-align: right;
  width: 35%;
}

textarea {
  width: 95%;
}

.register{
  padding-top: 150px
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  clear: both;
}
.footer, .push {
  height: 19px; /* .push must be the same height as .footer */
}
.footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
}


.hoverable {
  position: relative;
}
.hoverable > .hover {
  display: none;
  position: absolute;
}
.hoverable:hover > .hover {
  display: block;
  position: absolute;
  top: 36px;
  width: 400px;
  z-index: 200;
}
.bases, .forms {
  text-align: center;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
