/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
* {
  padding: 0px;
  margin: 0px;
  
}
body {
  background-color: #cceeff;
}

.content{
  width: 960px;
  margin: auto;
}
.column{
  width: 480px;
  float: left;
}

.nav {
  text-align: center;
}
.header{
  background-color: #7cd;
  border-bottom: 5px solid #6bb7c6;
}
.characters {
}

h2{
  text-align: center;
}

.box {
  border-radius: 3px;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
}

.thumbnail {
  width: 50px;
}
table{
  border-spacing: 0px;
}
table.stats{
  width: 100%;
}
table.characters td {
  border: 1px solid black;
  
  margin: 0px;
  text-align: center;
}
td .total-matches {
  display: block;
}
td:hover .total-matches {
  display: none;
}
td .win-loss {
  display:none;
}
td:hover .win-loss {
  display: block;
}